.toast {
    margin: 5px 0;
    max-height: 40px;

    & &-header {
        border-bottom: none;
        padding-bottom: 5px;
        background-color: transparent;
    }

    & &-body {
        padding: 2px;
    }

}

.toast.fade.show {
    width: 100%;
    min-width: 250px;
}

@media (min-width: 375px) {
    .toast.fade.show {
        min-width: 300px;
    }
}

@media (min-width: 990px) {
    .toast.fade.show {
        min-width: 250px;
    }
}

@media (min-width: 1200px) {
    .toast.fade.show {
        min-width: 300px;
    }
}