.list {
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    max-width: 410px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    background-color: #ffffff;

    h3 {
        margin: 0;
    }

    ul {
        padding: 20px 20px 0;
    }

    &-delete {
        position: relative;
        width: 36px;
        height: 36px;

        &::after,
        &::before {
            content: '';
            height: 25px;
            border-right: 2px solid;
            position: absolute;
            transform: translate(50%, 50%);
            top: 15%;
            left: 46%;
        }

        &::after {
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }

    }

    &-add {
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding: 30px 0;
        width: 100%;
        justify-content: space-around;

        input {
            max-width: 220px;
        }
    }

    &-header,
    &-footer {
        max-height: 56px;
        width: 100%;
        border-radius: 7px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 7px 0;
    }

    &-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    &-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
}