.board {
    position: relative;
    z-index: 10;

    &-header {
        max-width: 70%;
        margin: 0px auto;
        border-radius: 7px;
        background-color: #ffffff;

        h1 {
            padding-top: 20px;
            margin: 40px auto 0;
            text-align: center;
        }

        &-add {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding: 30px 0;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;

            input {
                max-width: 250px;
                margin: 5px;
            }
        }
    }
}

@media (min-width: 768px) {
    .board-header {
        max-width: 60%;
    }
}